<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <extensions>
    <add assembly="NLog.MailKit"/>
  </extensions>
  <targets>
    <target xsi:type="ColoredConsole" name="console"
                                      encoding="utf-8"
                                      layout="${pad:padding=-5:inner=${level:uppercase=true}} ${time} ${message}"
                                      header="BACKUPER CONSOLE LOG" />
    <target xsi:type="File" name="filelog"
                            layout="${pad:padding=-5:inner=${level:uppercase=true}} ${time} ${message}"
                            encoding="utf-8"
                            lineEnding="Default"
                            enableFileDelete="True"
                            createDirs="True"
                            fileName="${basedir}/logs/backuper-${shortdate}.log" />

    <target xsi:type="Mail" name="email"
                            subject="Backuper exception: ${message}"
                            body="Exceptiona '${message}' ${newline}${newline}------${newline}${newline}Date: ${longdate}${newline}Logger: ${logger}${newline}Exception: ${exception:format=toString:maxInnerExceptionLevel=1}${newline}${newline}${stacktrace:format=Raw:topFrames=5}"
                            html="true"
                            replaceNewlineWithBrTagInHtml="true"
                            smtpServer="localhost"
                            smtpPort="25"
                            smtpAuthentication="None"
                            enableSsl="False"
                            from="emailaddress@gmail.com"
                            skipCertificateValidation="True"
                            to="recipient@example.com"/>
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="console" />
    <logger name="*" minlevel="Info" writeTo="filelog" />
    <logger name="*" minlevel="Error" writeTo="email" />
  </rules>
</nlog>